NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FOOTBALL_DATA_API_TOKEN=
THESPORTSDB_API_KEY=123
LOCK_MINUTES_BEFORE_KICKOFF=10
CRON_SECRET=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=
